.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.game-buttons button {
    background-color: #418ae9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.game-buttons button:hover {
    background-color: #033980;
}

.game-buttons button:focus {
    outline: none;
}

.hidden {
    display: none;
}